/** AMP Stylistics (Not a word)... **/


body {
  /* Body styles go here.  Example:
  font: 12px "Times New Roman", Arial, sans-serif;
  background: #FFFFFF
  */
  	@font-face {
		font-family: fav_font;
		src: url('Quicksand_Book.otf');
	}
	
	background-color: black;
	font-family: calibri, arial;
	color: white;
	border-style: dashed;
	border-width: 1px;
	border-color: #66FF33;
	margin:1em;
	padding: 1em;

}



p {
  /* You can format other tags like <p> also*/

	font-family: fav_font;
	font-size: 12pt;
	color: #FF3385;

}



a {
  /* Formatting links */
	
	color: #66FF33;

}



a:hover {
  /* Different formatting for active links- there's also
  a:visited and a:hover */


	color: blue;


}



/* Other possible style blocks go here... */



strong{
	color: #B2E0FF;
}

h1{
	font-size: 30pt;	
	font-family: "Edwardian Script ITC", "Kunstler Script", "Vivaldi", "Tempus Sans ITC", calibri, arial;
	color: blue;
}	




h3{	
	color: #FF751A;
}