@font-face {
		font-family: fav_font;
		src: url('Quicksand_Book.otf');
	}

body {
	text-align: left;
	background:url('images/backgroundGrey.jpg') center fixed no-repeat; 
	font-family: fav_font, Arial, Verdana, sans-serif;
	color: rgb(0, 0, 0);
	padding: 0.4em;
	letter-spacing: 0.10em;
	max-width: 70em;
	margin: 0px auto;
}

h1 {
	font-size: 1.2em;
	color: rgb(255, 255, 255);
	letter-spacing: 0.07em;
	font-weight: normal;
	background-color: #212A69;
}


.content {
	background-color: rbga(0, 0, 0, 0.5);
	/* background: url('images/watermark.png') no-repeat center; */	
	margin: 1em 2% 2em 2%;
	min-width: 30em;
	border-radius: 2em;
	font-size: 0.875em;}
ul {
	padding: .5 em;
	margin: 0em auto .888em auto;
}

nav ul ul {
	display: none;
	nav ul li: hover > ul {
		display: block;
	}
}
li { 
	display: inline;
}
a {  
	color: #000000;
	text-transform: uppercase;
	text-decoration: none;
	padding: 6px 18px 0px 18px;
}
a:hover {
	color: #243284; 
	border-bottom:1px solid #CC0000
}
p { line-height: 1.4em;}
#content, h3 {
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 0.15em;}
 #Cox { float: left; padding: 1.2em; width: 200px;}
#welcome {
	margin: 1% auto 2.5% auto;
	max-width: 25.06em;
	max-height: 20.13em; }
#column1 #column2{
	fixed: 20px;}